body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
}

.exercise-list {
    list-style: none;
    padding: 0;
}

.exercise-list li {
    margin-bottom: 10px;
}

.exercise-list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
/* styles for exercises pages*/
.input-group {
    margin-bottom: 10px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: calc(100% - 18px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    text-align: left;
}
.go-back-button {
    display: block;
    margin-top: 20px;
    background-color: #337ab7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.go-back-button:hover {
    background-color: #286090;
}
.exercise-container{
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 80%;
        max-width: 600px;
        margin: 20px auto;
    }